footer{
  padding: 20px 0;
  background: #fff;
}
.block-footer{
  h3{
    font-size: 14px;
    color: #616161;
    font-weight: 700;
    margin-bottom: 20px;
  }
  ul{
    &.list-menu-f{
      li{
        margin-bottom: 3px;
        a{
          display: block;
          font-size: 14px;
          color: #9E9E9E;
          &:active,
          &:focus,
          &:hover{
            color: #000000;
            text-decoration: none;
          }
        }
      }
    }
  }
}
.logo-footer{
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  color: #5F5F5F;
  span{
    display: inline-block;
    vertical-align: middle;
    width: 28px;
    margin-right: 8px;
    svg{
      width: 100%;
    }
  }
  &:active,
  &:focus,
  &:hover{
    color: #FF5000;
    text-decoration: none;
    span{
      svg{
        .svg-logo-at{
          fill: $colorAmerica;
        }
      }
    }
  }
}
.social-footer{
  display: inline-block;
  vertical-align: middle;
  ul{
    li{
      display: inline-block;
      vertical-align: middle;
      margin-left: 40px;
      a{
        display: block;
        svg{
          width: 100%;
        }
        &.ico-fb{
          width: 9px;
          &:active,
          &:focus,
          &:hover{
            svg{
              .svg-ico-fb{
                fill: #3B5998;
              }
            }
          }
        }
        &.ico-tw{
          width: 18px;
          &:active,
          &:focus,
          &:hover{
            svg{
              .svg-ico-tw{
                fill: #1DCAFF;
              }
            }
          }
        }
        &.ico-it{
          width: 17px;
          &:active,
          &:focus,
          &:hover{
            svg{
              .svg-ico-it{
                fill: #C13584;
              }
            }
          }
        }
      }
    }
  }
}
.footer-nav-m{
  display: none;
}
@media only screen and (max-width: 1200px) {
  
}
@media only screen and (max-width: 992px) {
  .ads-block{
    img{
      width: 100%;
    }
  }
  footer{
    padding-top: 0;
  }
  .footer-none{
    display: none;
  }
  .footer-nav-m{
    display: block;
    width: 100%;
    padding: 0 15px;
  }
  .block-footer{
    padding: 15px 0;
    .logo-footer{
      float: left;
      .social-footer{
        ul{
          li{
            a{
              &.ico-fb{
                width: 12px;
              }
              &.ico-tw{
                width: 29px;
              }
              &.ico-it{
                width: 24px;
              }
            }
          }
        }
      }
    }
  }
  .footer-list-nav-m{
    border-bottom: 1px solid #F5F5F5;
    &:last-child{
      border-bottom: 0;
    }
    &>a{
      display: block;
      position: relative;
      font-size: 14px;
      color: #616161;
      font-weight: 700;
      padding: 20px 0;
      &:active,
      &:focus,
      &:hover{
        text-decoration: none;
      }
      i{
        width: 7px;
        position: absolute;
        top: 50%;
        margin-top: -3px;
        right: 4px;
        height: 12px;
        svg{
          width: 100%;
          vertical-align: top;
        }
      }
    }
    .multi-collapse{
      .list-menu-f{
        li{
          margin-bottom: 15px;
          a{
            font-size: 16px;
            color: #9E9E9E;
            display: block;
            &:active,
            &:focus,
            &:hover{
              color: #000000;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 768px) {

}
@media only screen and (max-width: 480px) {

}
