.social-net-block{
  padding: 30px 0;
  background: #F0F0F0;
}
.inner-social-net-block{
  .item-article{
    margin-bottom: 0;
    &>a{
      padding-top: 16px;
      padding-left: 16px;
      .inner-item-article{
        padding: 17px;
        .info-article{
          h2{
            font-size: 14px;
            font-weight: 700;
          }
        }
      }
      &:active{
        .inner-item-article{
          background: #555555!important;
          @include cardBoxShadow(4px, 4px, 10px, 0, 0, 0, 0.40);
        }
      }
      &:focus{
        .inner-item-article{
          background: #262626;
          @include cardBoxShadow(4px, 4px, 10px, 0, 0, 0, 0.40);
          .info-article{
            h2{
              color: #fff;
            }
          }
        }
      }
      &:hover{
        .inner-item-article{
          background: #262626;
          @include cardBoxShadow(4px, 4px, 10px, 0, 0, 0, 0.40);
          .info-article{
            h2{
              color: #fff;
            }
          }
        }
      }
    }
  }
}
.ad-300{
  text-align: center;
}
