.block-more{
  text-align: center;
  a{
    width: 320px;
    height: 60px;
    text-align: center;
    border: 1px solid #CCCCCC;
    display: inline-block;
    border-radius: 4px;
    background: #FFFFFF;
    line-height: 58px;
    font-size: 14px;
    color: #333333;
    font-weight: 700;
    @include cardBoxShadow(4px, 4px, 14px, 0, 0, 0, 0.10);
    &:active{
      background: #000000;
      text-decoration: none;
      color: #FFFFFF;
    }
    &:focus{
      background: #000000;
      text-decoration: none;
      color: #FFFFFF;
    }
    &:hover{
      background: #000000;
      text-decoration: none;
      color: #FFFFFF;
    }
  }
}
