.inner-header-gr-detail{
  padding: 32px 30px 0 30px;
  p{
    font-size: 16px;
    color: #333;
    line-height: 190%;
    margin-bottom: 0;
    margin-top: 7px;
  }
}
.block-perfil-name{
  float: left;
  &.p-retador{
    .perfil-gr{
      figure{
        border: 2px solid #FA2821;
      }
    }
    .name-gr{
      span{
        color: #FA2821;
      }
    }
  }
}
.perfil-gr{
  float: left;
  margin-right: 30px;
  figure{
    margin-bottom: 0;
    width: 108px;
    height: 108px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #4777C6;
    img{
      width: 100%;
    }
  }
}
.name-gr{
  width: 135px;
  float: left;
  margin-right: 20px;
  margin-top: 5px;
  h2{
    margin-bottom: 0;
    font-size: 28px;
    color: #333333;
    line-height: 130%;
    margin-bottom: 3px;
  }
  span{
    display: block;
    font-size: 14px;
    color: #4777C6;
  }
}
@media only screen and (max-width: 1200px) {

}
@media only screen and (max-width: 992px) {
  .page-detalle{
    .header-gr-detail{
      margin-bottom: 30px;
    }
  }
}
@media only screen and (max-width: 768px) {
  .block-perfil-name{
    width: 50%;
  }
  .inner-header-gr-detail{
    p{
      width: 50%;
      float: left;
    }
  }
}
@media only screen and (max-width: 480px) {

}
